[SETTINGS]
ALLOWED_PHONE_NUMBERS = 2067654321,6021234567
UTC_OFFSET = 7
OLDEST_MESSAGE_TO_PROCESS = 120
MAX_HEATER_TIME = 100
LOGFILE_DIRECTORY = ./test/
SERIAL_PORT = /dev/ttyUSB1
BAUDRATE = 1200
POWER_STATUS_PIN = 16
RING_INDICATOR_PIN = 18
HEATER_PIN = 22
HANGAR_DARK = 20
HANGAR_DIM = 60
HANGAR_LIT = 90
TEST_MODE = True

